<div ng-if="user != undefined">
	<ng-include src="'./templates/partials/navbar-login.html'"></ng-include>
</div>	

<div ng-if="user === undefined">
	<ng-include src="'./templates/partials/navbar-loggedout.html'"></ng-include>
</div>	

	<div class="col-md-12">
		<div class="row">
			<div ng-repeat="recipe in recipes" class="col-md-3 recipe-full">
				<a href="/#/recipes/{{recipe.title}}">
					<div style="height: 33vh; width:100%; background-image:url('{{recipe.image}}'); background-size:cover; background-repeat:no-repeat;">
							<div id="recipe-block">	
								<h2 id="recipe-title">{{recipe.title}}</h2>	
							</div>
					</div>
				</a>			
			</div>
		</div>
	</div>


	




